<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rafpio.ajobmate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="rafpio.ajobmate.core.JobmateApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="rafpio.ajobmate.activities.AJobMateMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="rafpio.ajobmate.core.TimeAlarmBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="rafpio.jobmate.ALARM" >
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:name="rafpio.ajobmate.core.BootCompletedBoadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name="rafpio.ajobmate.activities.DateTimePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.TimePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.StartEndTimePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.AlarmTimePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.TaskListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.TaskAddEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.TaskAlarmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.TaskDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.TaskArchivedListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.MyOffersListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.MyOffersArchivedListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.RSSOffersListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.RssOfferDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.MyOfferDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.MyOfferAddEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.LocationMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rafpio.ajobmate.activities.HistoryActivity"
            android:screenOrientation="portrait" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="rafpio.ajobmate.activities.CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
    </application>

</manifest>